h1{
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
}

img{
    width: 80px;
    height: auto;
}

#header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 80px;
    gap: 8px;
    padding: 8px;
}